@font-face {
	font-family: 'code bold';
	src: url('code_bold-webfont.eot');
	src: url('code_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('code_bold-webfont.woff') format('woff'),
		url('code_bold-webfont.svg') format('svg');
}