<div id="formConfirmation" class="flex-wrapper-big hide">
    <div class="infoblock" style="width: 100%;">
        <h1>Contact Us</h1>
       <h4> Form has been submitted successfully.</h4>
    </div>
</div>

<div id="contactFormText" class="flex-wrapper-big">
    <div class="infoblock_left">
        <h2>Contact Us</h2>
        <p>We are ready to help you achieve your mission. Complete the form and a team member will contact you.</p>
    </div> 
    <div>
        <script src="https://touchpoints.app.cloud.gov/touchpoints/0a7ce0f9.js" async></script>
    </div>
</div>


<!--[if IE]>
<style>
    #input-submit {
         background-color: #005ea2;
    }
</style>
<![endif]-->
