<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>Commercial Solutions Opening (CSO)</h1>
    </div>
</div>

<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
    
    <div class="one-fourth section-btn">
        <a href="#programs"><b>CSO Program</b></a>
    </div>

    <div class="one-fourth section-btn">
        <a href="#opportunities"><b>CSO Opportunities</b></a>
    </div>

    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="cso_banner1"> {% asset CSO_CHART_FINAL.png alt="CSO" %}  </div>
</div>

<div id="programs" class="flex-wrapper-big">
    <div class="infoblock">
        <h2>CSO Program</h2>
        <p>The General Services Administration (GSA) established a pilot program to competitively 
            procure innovative commercial products using the Commercial Solutions 
            Opening (CSO) procedure. To learn more, visit the <a href="https://www.gsa.gov/policy-regulations/policy/acquisition-policy/procurement-innovation-resource-center-pirc" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Procurement Innovation Resource Center (PIRC) website</a>.</p>
    </div>
</div>



<div class="flex-wrapper-big">
    <div class="infoblock">
        <h2>Interested in learning more?</h2>
    </div>
</div>

<div class="flex-wrapper-big learnmore-full">    
    <div class="flex-wrapper">
        <div class="learnblock learn-gov"></div>
        <div class="learnblock stack-top greyborder">
            <h2>Government Clients</h2>
            <p class="learnblock-hover-text">Our FEDSIM team assists clients with many types of acquisitions and will work with you 
                to determine the best acquisition strategy to fulfill your requirements. Reach out to 
                us at <a href="mailto:fedsim@gsa.gov">fedsim@gsa.gov</a> to see how we can help.</p>
        </div>
    </div>

<div class="bio-spacer"></div>

    <div class="flex-wrapper">
        <div class="learnblock learn-ind"></div>
        <div class="learnblock stack-top greyborder">
            <h2>Industry Partners</h2>
            <p class="learnblock-hover-text">You can respond to compete on an opportunity by submitting a brief about your solution. 
                If there is a good match between your solution and our client's requirements, 
                you will be asked to provide a full proposal.</p>
        </div>
    </div>
</div>

<div class="flex-wrapper-big learnmore-mobile">
    <div class="flex-wrapper">
        <div class="learnblock">
            <div class="block-header">Government Clients</div>
            <p>Our FEDSIM team assists clients with many types of acquisitions and will work with you 
                to determine the best acquisition strategy to fulfill your requirements. Reach out to 
                us at <a href="mailto:fedsim@gsa.gov">fedsim@gsa.gov</a> to see how we can help.</p>
        </div>
    </div>

    <div class="flex-wrapper">
        <div class="learnblock">
            <div class="block-header">Industry Partners</div>
            <p>You can respond to compete on an opportunity by submitting a brief about your solution. 
                If there is a good match between your solution and our client's requirements, 
                you may be invited to submit a full proposal.</p>
        </div>
    </div>
</div>
<hr class="highlight-line">
<div id="opportunities" class="flex-wrapper-big">
    <div class="infoblock">
        <h3>Submit a Commercial Solutions Opening (CSO) Solution Brief</h3>
        <p>FEDSIM is accepting solutions briefs in response to the CSO solicitation(s) openings below. 
            Submissions received after indicated time periods will not be considered. 
            Please review the example <a href="../PIRC_Launch_CA_CSO_Solicitation_Terms-and-Conditions_Sections_6-7.pdf">terms and conditions</a>, 
            which are indicative of contract terms that will be applicable and incorporated in any resulting award from the CSO.</p>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="flex-wrapper">
        <div class="learnblock withborder">
            <div class="block-header">CSO Area(s) of Interest</div>
            <p><br>
                <b>CSO Solicitation:</b>
                <br>Document 1: <a href="../USSF_Launch_Conjunction_Solicitation_v5.2_Amendment_01.pdf">Launch Conjunction Assessment CSO Amendment 1</a>
                <br>Document 2: <a href="../PIRC_Launch_CA_CSO_Solicitation_Terms-and-Conditions_Sections_6-7.pdf">Terms and Conditions</a>
                <br><b>Due Date:</b> December 10, 2021 at 11:00 AM ET</p>
        </div>
    </div>

    <div class="bio-spacer"></div>
    
    <div class="flex-wrapper">
        <div class="learnblock withborder">
            <div class="block-header">What We Are Looking for in the Solution Brief</div>
            <div>
                <p class="learn-text">Please see the specific instructions in the solicitation. However, the solution briefs may include:</p>
                <ol>
                    <li>Title Page</li>
                    <li>Solution Concept</li>
                    <li>Company Viability</li>
                </ol>
                <br>
            </div>
        </div>
    </div>

</div>
