<div class="flex-wrapper">
  <script type='text/javascript' src='https://staging-tableau.d2d.gsa.gov/javascripts/api/viz_v1.js'></script>
  <div class='tableauPlaceholder' style='width: 1000px; height: 907px; margin: auto;'>
    <object class='tableauViz' width='1000' height='907' style='display:none;'><param name='host_url' value='https%3A%2F%2Fstaging-tableau.d2d.gsa.gov%2F' /> 
      <param name='embed_code_version' value='3' /> 
      <param name='site_root' value='' />
      <param name='name' value='OpportunitiesDashboard&#47;ActiveProcurements' />
      <param name='tabs' value='no' /><param name='toolbar' value='yes' />
      <param name='showAppBanner' value='false' />
    </object>
  </div>
