<script type='text/javascript' src='https://staging-tableau.d2d.gsa.gov/javascripts/api/viz_v1.js'></script>

<div class="flex-wrapper">
  <div class='tableauPlaceholder' style='width: 1000px; height: 883px;'>
    <object class='tableauViz' width='1000' height='883' style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fstaging-tableau.d2d.gsa.gov%2F' /> 
      <param name='embed_code_version' value='3' /> 
      <param name='site_root' value='' />
      <param name='name' value='FEDSIMFinancialsDashboard&#47;IncomeDashboard' />
      <param name='tabs' value='yes' />
      <param name='toolbar' value='yes' />
      <param name='showAppBanner' value='false' />
    </object>
  </div>
  
  <div class="infoblock">
    <a href="https://staging.d2d.gsa.gov/node/12492">Click here</a>
    <br><br>
    <a href="https://staging-tableau.d2d.gsa.gov/#/views/OpportunitiesDashboard/ActiveProcurements?:iid=2">Server link</a>
  </div>
</div>
