<div class="flex-wrapper-big">
    <div class="infoblock with-side-buffer">
        <h1>Federal Industry Acquisition Council (FIAC)</h1>
        <p>FEDSIM created the Federal Industry Acquisition Council, commonly referred to as the &quot;FIAC&quot;, to ensure ongoing communication with industry leaders. The FIAC brings together members of the government contracting community and AAS leadership to provide an invaluable forum for open dialogue within the federal acquisition industry. </p>
        <p style="font-weight: bold;">The FIAC has three active committees. If you interested in joining, please complete the FIAC Registration form below.</p>
    </div>
</div>

<div class="flex-wrapper-big">
  <div class="darkblock one-third sidepadded container-block">
    <h4 class="whitetext">Streamlined Acquisition</h4>
    <p>Focuses on improving the procurement process and overall FEDSIM experience, whether through policy, best practices, or process change.</p>
    <br><br>
    <div class="bottom-link">
      <p><a href="https://buy.gsa.gov/interact/community/206/activity-feed" taget="_new" class="external whitetext" onClick="return confirm('This link will take you to the GSA website which is managed by GSA.')"><i>Registration open on Interact.</i></a></p>
    </div>
  </div>

  <div class="bio-spacer"></div>

  <div class="darkblock-alt one-third sidepadded container-block">
    <h4 class="whitetext">Small Business</h4>
    <p>Focuses on engaging the small business community, whether through GSA, AAS, FEDSIM opportunities, matchmaking with large businesses, or as outreach to the federal GOVCON small business community.</p>
    <br><br>
    <div class="bottom-link">
      <p><i>Registration closed.</i></p>
    </div>
  </div>

  <div class="bio-spacer"></div>

    <div class="darkblock one-third sidepadded container-block">
      <h4 class="whitetext">Marketing / Outreach</h4>
      <p>Focuses on educating the federal market on GSA AAS FEDSIM, sharing successes, promoting competition, and fostering awareness of FEDSIM's capabilities.</p>
      <br><br>
      <div class="bottom-link">
        <p><i>Registration closed.</i></p>
      </div>
    </div>
</div>
<br>
<div class="flex-wrapper-big withborder">
    <!-- left side -->
    <div class="with-side-buffer" style="color: var(--fedsim-blue1);">
        <h1><span style="font-size: 1.85em; margin-block-end: 4px;">EVENTS</span>
            <br><span style="font-size: 1.3em;">CALENDAR</span></h1>
            <div class="section-btn scalable-btn" onclick="javascript:showEvents('events-rec');"><p id="bullet-rec" class="post-text">Recurring <i class="arrow-bullet"></i></p></div>
            <div class="section-btn scalable-btn" onclick="javascript:showEvents('events-cur');"><p id="bullet-cur" class="post-text">Current <i class="arrow-bullet"></i></p></div>
            <div class="section-btn scalable-btn" onclick="javascript:showEvents('events-past');"><p id="bullet-past" class="post-text">Past <i class="arrow-bullet"></i></p></div>
        <br>
    </div>
    <div class="bio-spacer withborder-left"></div>
    <!-- current events -->
    <div id="events-rec" class="events-block">
      <h4>Recurring Events</h4>
        <ul class="eventlist">

            <li>
                <p class="eventtitle">First Friday Opportunities Review</p>
                <p class="eventdetails">Recurring first Fridays monthly for registered FIAC members.</p>
            </li>
            <li>
                <p class="eventtitle">Streamlined Committee</p>
                <p class="eventdetails">Recurring Fridays 12:30pm (Eastern Time).</p>
            </li>
            <li>
                <p class="eventtitle">Small Business Committee</p>
                <p class="eventdetails">Recurring 3rd Wednesday every other month at 2:00pm (Eastern Time).</p>
            </li>
            <li>
                <p class="eventtitle">Marketing Committee</p>
                <p class="eventdetails">Recurring 2nd Wednesday every month 2:00pm (Eastern Time).</p>
            </li>
        </ul>

    </div>
    <!-- current events -->
    <div id="events-cur" class="events-block">
      <h4>Current Events</h4>
      <ul class="eventlist">
        
        <li>
          <p class="eventtitle">Semi-Annual Meeting</p>
          <p class="eventdetails">December 14th, 11:00-12:00PM (Eastern Time)</p>
      </li>
             
    </ul>
    </div>
    <!-- past events -->
    <div id="events-past" class="events-block">
      <h4>Past Events</h4>
      <ul class="eventlist"> 
        <li>
            <p class="eventtitle">FIAC Semi-Annual Meeting</p>
            <p class="eventdetails">Oct 28th, 10-11:30AM (Eastern Time).<br>Virtual Meeting</p>
        </li>
    </ul>
    </div>
</div>
<br>




<script type="text/javascript">
    var submitted = false;


    //Events script
    function showEvents(selected) {
      //hide all
      document.getElementById("events-rec").classList.add('hide');
      document.getElementById("events-cur").classList.add('hide');
      document.getElementById("events-past").classList.add('hide');
      document.getElementById("events-rec").classList.remove('show');
      document.getElementById("events-cur").classList.remove('show');
      document.getElementById("events-past").classList.remove('show');
      //Show selected
      document.getElementById(selected).classList.remove('hide');
      document.getElementById(selected).classList.add('show');
      
    }
  </script>
