<footer class="usa-footer site-footer" role="contentinfo">
  <hr class="footer-border">
  <div class="footer-section-bottom">
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col footer_side_left">
          <h3>Reference</h3>
          <ul class="add-list-reset">
            <li><a href="https://www.gsa.gov/reference/reports/budget-performance/annual-reports" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Financial Report</a></li>
            <li><a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Freedom of Information Act Requests</a></li>
            <li><a href="https://www.gsa.gov/reference/gsa-plans-and-reports" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Plans and Reports</a></li>
            <li><a href="https://www.gsa.gov/policy-regulations/policy" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Policies</a></li>
            <li><a href="https://www.gsa.gov/about-us/organization/gsa-office-of-inspector-general-overview" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Report Fraud to IG</a></li>
          </ul>
          <br>
        </div>
        <div class="tablet:grid-col footer_side_right">
          <h3>Website Information</h3>
          <ul class="add-list-reset">
            <li><a href="https://www.gsa.gov/website-information/accessibility-aids" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Accessibility</a></li>
            <li><a href="https://www.gsa.gov/website-information/website-policies#linking" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Linking</a></li>
            <li><a href="https://www.gsa.gov/website-information/privacy-and-security-notice" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Privacy and Security</a></li>
            <li><a href="mailto:contact.fedsim@gsa.gov?subject='Bug/Issue'" >Bug/Issue Reporting</a></li>
            <li><a href="mailto:contact.fedsim@gsa.gov?subject='Privacy Related Inquiry'">Privacy Related Inquiries</a></li>
            <li><a href="../sitemap">Sitemap</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col"></div>
      </div>
    </div>
  </div>
  <div class="footer-back">
    <div class="flex-wrapper-big logo-links">
    <a class="footer-logo media_link" href="https://gsa.gov" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">
      {% asset Logo_GSA.png alt="GSA logo" %}
    </a>
    </div>
    <div class="social-links">
     
    </div>
  </div>
</footer>
