<footer class="usa-footer site-footer" role="contentinfo">
  <hr class="footer-border">
  <div class="footer-section-bottom">
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col footer_side_left">
          <h3>Reference</h3>
          <ul class="add-list-reset">
            <li><a href="https://www.gsa.gov/reference/reports/budget-performance/annual-reports" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Agency Financial Report</a></li>
            <li><a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">FOIA Requests</a></li>
            <li><a href="https://www.gsa.gov/reference/gsa-plans-and-reports" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Plans and Reports</a></li>
            <li><a href="https://www.gsa.gov/policy-regulations/policy" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Policies</a></li>
            <li><a href="https://www.gsa.gov/about-us/organization/gsa-office-of-inspector-general-overview" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Report Fraud to OIG</a></li>
          </ul>
          <br>
        </div>
        <div class="tablet:grid-col footer_side_right">
          <h3>Website Information</h3>
          <ul class="add-list-reset">
            <li><a href="https://www.gsa.gov/website-information/accessibility-aids" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Accessibility</a> / <a href="https://www.gsa.gov/website-information/website-policies#linking" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Linking</a></li>
            <li><a href="https://www.gsa.gov/reference/civil-rights-programs/equal-employment-opportunity" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">EEO</a></li>
            <li><a href="https://www.gsa.gov/website-information/website-policies#privacy" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">Privacy and Security</a></li>
            <li><a href="mailto:contact.fedsim@gsa.gov?subject='Bug/Issue'" >Bug/Issue Reporting</a></li>
            <li><a href="mailto:contact.fedsim@gsa.gov?subject='Privacy Related Inquiry'">Privacy Related Inquiries</a></li>
            <li><a href="../sitemap">Sitemap</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col"></div>
      </div>
    </div>
  </div>
  <div class="usa-identifier site-identifier">
    <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier">
        <div class="usa-identifier__container">
            <div class="usa-identifier__logos">
                <a href="javascript:void(0);" class="usa-identifier__logo">
                    <img class="usa-identifier__logo-img" src="gsa-logo.svg" alt="GSA logo" role="img">
                </a>
            </div>
            <div class="usa-identifier__identity" aria-label="Agency description">
                <p class="usa-identifier__identity-domain">fedsim.gsa.gov</p>
                <p class="usa-identifier__identity-disclaimer">
                    An official website of the <a class="external_link" href="https://gsa.gov">General Services Administration</a>
                </p>
            </div>
        </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link">
                        About GSA
                    </a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-identifier__required-link">
                        Accessibility support
                    </a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link">
                        FOIA requests
                    </a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link">
                        No FEAR Act data
                    </a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link">
                        Office of the Inspector General
                    </a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link usa-link">
                        Performance reports
                    </a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link">
                        Privacy policy
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="Government information and services">
        <div class="usa-identifier__container">
            <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
            <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
        </div>
    </section>
  </div>
  

</footer>
