<div class="flex-wrapper-big">
    <div class="infoblock with-side-buffer">
        <h1>Getting Started with FEDSIM</h1>
        <p>FEDSIM's assisted acquisition focuses on complex acquisition requirements that can range from IT to professional services. Our acquisition and program management staff has a deep understanding that allow us to deliver high quality solutions. FEDSIM follows the FAR/DFAR and agency specific acquisition regulations. </p>
    </div>
</div>
<div class="flex-wrapper-big submenubar">
    <div class="one-fourth section-btn">
        <a href="#3steps"><b>Three Steps</b></a>
    </div>

    <div class="bio-spacer"></div>

    <div class="one-fourth section-btn">
        <a href="#toolkit"><b>Client Toolkit</b></a>
    </div>

    <div class="bio-spacer"></div>
    
    <div class="one-fourth section-btn">
        <a href="#contracts"><b>Contract Vehicles</b></a>
    </div>
</div>
<div id="3steps" class="flex-wrapper-big">
    <div class="flex-wrapper one-third">
        <div class="infoblock tallblock lowerdarkblock-darkblue">
            <div class="numberCircle-darkblue centered">1</div>
            <h4 class="whitetext">Interagency Agreement</h4>

            <p>FEDSIM’s authority for Interagency Agreements is derived from:</P>
                <ul>
                    <li>USC 11302(e) (OMB’s executive agent designation) and/or the Acquisition Services Fund, 40 SC § 321.</li>
                    <li>USC § 501-502 (for personal property and non-personal services).</li>
                    <li>USC § 11314 (for some aspects of technology).</li>
                </ul>
            <p>These statutory authorities are independent of the Economy Act and therefore, the Economy Act does not apply.</p>
        </div>
    </div>
    
    <div class="bio-spacer"></div>
    
    <div class="flex-wrapper one-third">
        <div class="infoblock tallblock lowerdarkblock-blue">
            <div class="numberCircle-blue centered">2</div>
            <h4 class="whitetext">Funding Documentation/MIPR</h4>

            <p>FEDSIM’s assisted acquisition fee is determined based on the unique requirements of the acquisition and will be included in the funding document/ Military Interdepartmental Purchase Request (MIPR). 
                <br>
                <br>
                We accept and manage multi-agency funding.
            </p>
        </div>
    </div>
    
    <div class="bio-spacer"></div>
    
    <div class="flex-wrapper one-third">
        <div class="infoblock tallblock lowerdarkblock-darkgrey">
            <div class="numberCircle-darkgrey centered">3</div>
            <h4 class="whitetext">Introduction to the IPT</h4>

            <p>FEDSIM acquisitions are managed by Integrated Project Teams (IPTs), and one will be assigned to you. 
                <br>
                <br>
                The IPT works with clients to ensure everything runs smoothly, meets client requirements, and is compliant. 
                <br>
                <br>
                A FEDSIM Acquisition Project Manager (APM) and Project Manager (PM) will work with the requesting agency to write the Statement of Work (SOW) as part of our service.
            </p>
        </div>
    </div>
  
</div>

<div class="h-spacer"><br></div>

<div id="toolkit" class="flex-wrapper-big withborder">
    <div class="infoblock">
        <h2>Client Toolkit Media</h2>
        <p>FEDSIM acquisitions are managed by an Integrated Project Team (IPT) to ensure that the acquisition runs smoothly, meets the clients' requirements, and follows all Federal acquisition regulations and policies.</p>
    
        
    <h3 class="blueText">FEDSIM Due Diligence for Government Clients</h3>
  <!-- <iframe class="vidThumb" src="https://www.youtube.com/embed/OsmQ4mhzj1M" frameborder="0" aria-label="FEDSIM Due Diligence for Government Clients"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->
        <object class="videoObj" data='https://www.youtube.com/embed/OsmQ4mhzj1M'>
        </object>
     

    <hr/>

    <h3 class="blueText">FEDSIM Client Expectations for Cost Plus Award Fee Contracts</h3>
   <!-- <iframe class="vidThumb" src="https://www.youtube.com/embed/0BOKLbK-LuE" frameborder="0" aria-label="FEDSIM Client Expectations for Cost Plus Award Fee Contracts"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->
        <object class="videoObj" data='https://www.youtube.com/embed/0BOKLbK-LuE'>
        </object>
        
        <hr/>

    <h3 class="blueText">FEDSIM Introduction to the TEB</h3>
    <!-- <iframe class="vidThumb" src="https://www.youtube.com/embed/fyoBlvux9Hc" frameborder="0" aria-label="FEDSIM Introduction to the TEB"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->
        <object class="videoObj" data='https://www.youtube.com/embed/fyoBlvux9Hc'>
        </object>
    </div>
</div>

<div class="h-spacer"><br></div>

<div id="contracts" class="flex-wrapper-big darkblock">
    <div class="infoblock darkblock noPadding">
        <h2 class="whitetext" style="padding-left:34px;">Contract Vehicles</h2>
        <p class="with-side-buffer">FEDSIM can use any government-wide contract vehicle, which allows our team to determine the most cost effective, innovative acquisition solution for each client's requirements. The contract vehicles shown below are examples of ones we use; it is not an all inclusive list of options. </p>
    
        <div class="flex-wrapper-big">
            <div class="darkblock one-fourth"></div>

            <div class="darkblock one-fourth">
                <h5 class="whitetext">
                    <a href="https://www.gsa.gov/technology/technology-purchasing-programs/governmentwide-acquisition-contracts/8a-stars-ii-governmentwide-acquisition-contract-gwac" onClick="return confirm('This link will take you to a GSA website, which is managed by GSA.')" class="external" target="_new">8(a) - STARS II</a><br>
                    <a href="https://www.gsa.gov/technology/technology-purchasing-programs/governmentwide-acquisition-contracts/alliant-2-governmentwide-acquisition-contract-gwac" onClick="return confirm('This link will take you to a GSA website, which is managed by GSA.')">Alliant II</a><br>
                    <a href="https://aas.gsa.gov/astro/" onClick="return confirm('This link will take you to a the AAS website, which is managed by GSA.')">ASTRO</a><br>
                    <a href="https://www.gsa.gov/acquisition/products-services/professional-services/one-acquisition-solution-for-integrated-services-oasis" onClick="return confirm('This link will take you to a GSA website, which is managed by GSA.')">OASIS</a><br>
            
                </h5>
            </div>

            <div class="darkblock one-fourth">
                <h5 class="whitetext">
                    <a href="https://www.gsa.gov/acquisition/purchasing-programs/gsa-schedules" onClick="return confirm('This link will take you to a GSA website, which is managed by GSA.')">GSA Schedules</a><br>
                    <a href="https://www.sewp.nasa.gov/geninfo.shtml" onClick="return confirm('This link will take you to a NASA website, which is managed by NASA.')">NASA SEWP</a><br>
                    <a href="https://www.gsa.gov/technology/technology-purchasing-programs/governmentwide-acquisition-contracts/vets-2-governmentwide-acquisition-contract-gwac" onClick="return confirm('This link will take you to a GSA website, which is managed by GSA.')">VETS II</a><br>
                    <a href="https://www.gsa.gov/acquisition/products-services/professional-services/one-acquisition-solution-for-integrated-services-oasis" onClick="return confirm('This link will take you to a GSA website, which is managed by GSA.')">OASIS Small Business</a><br>
                </h5>
            </div>
            <div class="darkblock one-fourth"></div>
        </div>
    </div>
</div>
