
<section class="usa-hero">
    <div class="flex-wrapper-big darkblock">
      <div>
        <h2 class="whitetext">FEDSIM: <span style="font-weight: 500;">Shaping the future of acquisition</span></h2>
        <p>FEDSIM is a Client Support Center within the General Service Administration's Office of Assisted Acquisition Services (AAS). FEDSIM is the leading provider of assisted acquisition services for federal agencies. Our services include aqcuisition, financial and project management for the full aqcuisition life cycle.</p>
      </div>
    </div>
</section>