
<section class="usa-hero">
  <div class="flex-wrapper-big darkblock">
    <div style="padding-left: 20px;">
      <h1 class="whitetext">FEDSIM: <span style="font-weight: 500;">Shaping the future of acquisition</span></h1>
      <p>FEDSIM is a leading provider of assisted acquisition services for federal agencies and housed within the General Services Administration's Office of Assisted Acquisition Services (AAS).  Our services include acquisition, financial, and project management for the full acquisition life cycle.</p>
    </div>
  </div>
</section>
