<div class="flex-wrapper-big infoblock">
    <h1>Industry</h1>
</div>

<div class="flex-wrapper-big">
    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
    
    <div class="one-fourth section-btn">
        <a href="#opportunities"><b>Opportunities</b></a>
    </div>

    <div class="one-fourth section-btn">
        <a href="#toolkit"><b>Industry Toolkit</b></a>
    </div>

    <div class="one-fourth"> 
        <div class="bio-spacer"></div>
    </div>
</div>

<div class="v-buffer"><br></div>
                  
<div class="flex-wrapper-big">
    <div id="opp" class="infoblock-fixed darkblock"> 
        <h2 class="whitetext">Opportunities</h2>
        <p>Active procurements listed are in the stage of collecting requirements and solicitation development with the client. All official notifications will be transmitted via eBuy. For updates, visit our Leadership page to identify the designated point of contact. </p>
        
        <a href="https://d2d.gsa.gov/tableau-report-for-embed/9211" onClick="return confirm('This link will take you to the FEDSIM Opportunities Chart on GSA's D2D website, which is managed by Tableau.')" class="external" target="_new">{% asset chart.png alt="Opportunities Chart" %}</a>
    
        <p>Partnership opportunities with private sector clients are critical for FEDSIM's ongoing development and understanding of the private sector. Throughout our evolution, FEDSIM has maintained an open, mutually beneficial relationship with industry partners based on transparency and clear communication. </p>      
    </div>

    <div id="opp_m" class="infoblock-fixed darkblock">
        <h2 class="whitetext">Opportunities</h2>
        <p>Active procurements listed are in the stage of collecting requirements and solicitation development with the client. All official notifications will be transmitted via eBuy. For updates, visit our Leadership page to identify the designated point of contact. </p>
        
        <a href="https://d2d.gsa.gov/tableau-report-for-embed/9211" onClick="return confirm('This link will take you to the FEDSIM Opportunities Chart on GSA's D2D website, which is managed by Tableau.')" class="external" target="_new">{% asset chart_mobile.png alt="Opportunities Chart" %}</a>
    
        <p>Partnership opportunities with private sector clients are critical for FEDSIM's ongoing development and understanding of the private sector. Throughout our evolution, FEDSIM has maintained an open, mutually beneficial relationship with industry partners based on transparency and clear communication. </p>      
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="toolkit" class="infoblock-fixed withborder">
        <h2>Industry Toolkit</h2>
        <p>FEDSIM pursues ongoing communication with industry leaders by providing relevant opportunities and creating forums to further dialogue. </p>
   
        <h4>FEDSIM Due Diligence for Industry Partners</h4>
        <iframe class="vidThumb" src="https://www.youtube.com/embed/y4PtAs0LPKs" frameborder="0" aria-label="FEDSIM Due Diligence for Industry Partners"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>

