<div class="flex-wrapper-big infoblock">
    <h1>Industry</h1>
</div>

<div class="flex-wrapper-big">
    
    <div class="one-third section-btn">
        <a href="#opp"><b>Opportunities</b></a>
    </div>

    <div class="one-third section-btn">
        <a href="#meetings"><b>First Fridays</b></a>
    </div>
    
    <div class="one-third section-btn">
        <a href="#toolkit"><b>Industry Toolkit</b></a>
    </div>

</div>

<div class="v-buffer"><br></div>
                  
<div class="flex-wrapper-big">
    <div id="opp" class="infoblock-fixed darkblock"> 
        <h2 class="whitetext">Opportunities</h2>
        <p>Active procurements listed are in the stage of collecting requirements and solicitation development with the client. All official notifications will be transmitted
via the FEDSIM contracting officer. For updates, visit our Leadership page to identify the designated point of contact. </p>

        <iframe class="d2d_frame" src="https://d2d.gsa.gov/tableau-report-for-embed/9211"></iframe>
    
        <p>Partnership opportunities with private sector clients are critical for FEDSIM's ongoing development and understanding of the private sector. Throughout our evolution, FEDSIM has maintained an open, mutually beneficial relationship with industry partners based on transparency and clear communication. </p>      
    </div>

    <div id="opp_m" class="infoblock-fixed darkblock">
        <h2 class="whitetext">Opportunities</h2>
        <p>Active procurements listed are in the stage of collecting requirements and solicitation development with the client. All official notifications will be transmitted via eBuy. For updates, visit our Leadership page to identify the designated point of contact. </p>
        
        <iframe class="d2d_frame_m" src="https://d2d.gsa.gov/tableau-report-for-embed/9209"></iframe>
    
        <p>Partnership opportunities with private sector clients are critical for FEDSIM's ongoing development and understanding of the private sector. Throughout our evolution, FEDSIM has maintained an open, mutually beneficial relationship with industry partners based on transparency and clear communication. </p>      
    </div>
</div>

<div class="v-buffer"><br></div>

<div class="flex-wrapper-big darkblock">
    <div id="meetings" class="infoblock darkblock">
        <h1 class="whitetext">FEDSIM First Friday Pipeline Review</h1>
        <p>Occurs the first Friday of every month effective 2/3/2023 from 12:30 PM to 3:30 PM, (UTC-05:00) Eastern Time (US & Canada).
            Event attendees will be responsible for managing calendar invites for this standing event.<br>
              <br><br>
            For the latest updates, please register for the FEDSIM First Friday <a href="https://buy.gsa.gov/interact/community/204/activity-feed" taget="_new" class="external whitetext" onClick="return confirm('This link will take you to the GSA website which is managed by GSA.')">GSA Interact Forum</a> by selecting the "Join" button.</p>
    </div>
</div> 

<!-- NEW FORM 
<div class="flex-wrapper-big">
    <div id="signup" class="infoblock-fixed">
        <script src="https://touchpoints.app.cloud.gov/touchpoints/fdd6d039.js" async></script>
    </div>
</div>
-->

<div class="v-buffer"><br></div>

<div class="flex-wrapper-big">
    <div id="toolkit" class="infoblock-fixed withborder">
        <h2>Industry Toolkit</h2>
        <p>FEDSIM pursues ongoing communication with industry leaders by providing relevant opportunities and creating forums to further dialogue. </p>
   
         <h4>FEDSIM Market Assessment Discussion (MAD)</h4>
        <iframe class="vidThumb" src="https://www.youtube.com/embed/uv9UBHyFIB0" frameborder="0" aria-label="FEDSIM Market Assessment Discussion"  
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        
        <h4>FEDSIM Due Diligence for Industry Partners</h4>
        <iframe class="vidThumb" src="https://www.youtube.com/embed/y4PtAs0LPKs" frameborder="0" aria-label="FEDSIM Due Diligence for Industry Partners"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>




<!-- MEETING INFO 

<div class="flex-wrapper-big">
    <div class="infoblock-fixed withborder" style="width: 33%; height: 208px;">
        <p><b>Webex Meeting Link:</b></p>
            <p><b><i><a href="https://gsa-meetings.webex.com/gsa-meetings/j.php?MTID=m56f03702903521ec39fc3a39aac688cd" target="_blank">(Click here)</a></i></b></p>
        <p>Meeting Number: <span style="font-weight: 500;"> 2761 396 7123</span></p>
        <p>Password: <span style="font-weight: 500;"> n9PP4UX2qay</span></p>
    </div>

    <div class="infoblock-fixed withborder" style="width: 33%; height: 208px;">
        <p><b>Join by Phone:</b></p>
        <p>US Toll number: <span style="font-weight: 500;"> +1-415-527-5035</span></p>
        <p>Access Code: <span style="font-weight: 500;"> 276 139 67123</span></p>
    </div>

    <div class="infoblock-fixed withborder" style="width: 33%; height: 208px;">
        <p><b>Join by Video System:</b></p>
        <p>Dial: <span style="font-weight: 500;"> 27613967123@gsa-meetings.webex.com</span></p>
        <p>You can also dial <span style="font-weight: 500;"> 207.182.190.20</span> and enter your meeting number.</p>
    </div>
</div>
-->


<!-- NEW FORM BELOW 



<div id="form-message" class="infoblock hide">
  <br>
  <h4>Your information has been submitted successfully.</h4>
</div>   
<div id="form-wrapper" class="flex-wrapper-big">

<form name="gform" id="gform" enctype="text/plain"
    action="https://docs.google.com/forms/d/e/1FAIpQLSdw42WU9iD0juZcAxEGovVFnebzTuxgCCthmcBefDSkuyyuUA/formResponse?" 
    target="hidden_iframe2" onsubmit="return(runValidation())">
<h3>First Fridays Sign-Up</h3>
    <p>First Fridays is a monthly forum to discuss emerging assisted acquisition opportunities. For more information and to sign-up for the forum, please provide the following:</p>

<div class="flex-wrapper">
    <div class="half left">
        <label for="entry.1843170539">First Name <span class="req">*</span></label>
        <input id="First Name" type="text" aria-label="first name field" name="entry.1843170539" maxlength="50" size="30">
    </div>   
    <div class="half left">
        <label for="entry.1491930422">Last Name <span class="req">*</span></label>
        <input id="Last Name" type="text" aria-label="last name field" name="entry.1491930422" maxlength="50" size="30">
    </div>
    <div class="half left">
        <label for="entry.578640437">Email <span class="req">*</span></label>
        <input id="Email" type="text" aria-label="email field" name="entry.578640437" maxlength="50" size="30" required>
    </div>
</div>


<div class="v-buffer"></div>

    <div class='flex-wrapper-big' style="margin-left: 0 12px 0 12px;">
        <input id="input-submit" type='submit' value='Submit'>
    </div>
    </form>
    <iframe name="hidden_iframe2" id="hidden_iframe2" style="display:none;" onload="if(submitted) {}"></iframe>
</div>

-->

<script type="text/javascript">

    function runValidation() {
        document.getElementById("form-wrapper").classList.add('hide');
        document.getElementById("form-message").classList.toggle('hide');
        return true;
    }

  </script>

-->
