<!-- 
    <div class="flex-wrapper-full">
        {% asset join-us.jpg alt="JOIN US" %}
    </div>
-->

<div class="flex-wrapper-big">
    <div class="infoblock with-side-buffer">
        <h2>Careers at FEDSIM</h2>
        <p>Our talented team helps federal clients achieve their missions every day. We provide a professional home for individuals who value diversity and inclusion and who are passionate about making a difference. 
            <br>
            Contact us at <a href="mailto:join.fedsim@gsa.gov">join.fedsim@gsa.gov</a>.</p>
    </div>
</div>
<div class="flex-wrapper-big submenubar">
    <div class="one-fourth section-btn">
        <a href="#jobs"><b>Open Positions</b></a>
    </div>

    <div class="bio-spacer"></div>

    <div class="one-fourth section-btn">
        <a href="#perks"><b>Perks and Benefits</b></a>
    </div>

    <div class="bio-spacer"></div>
    
    <div class="one-fourth section-btn">
        <a href="#paths"><b>Career Paths</b></a>
    </div>
</div>

<div class="v-buffer"><br></div>
    
<div class="flex-wraper-big">
    <div class="wholeblock withborder">
        <div class="block-header" id="jobs">Open Positions</div>
        <div class="infoblock">
            <p>We're looking for creative, detail-oriented experts who want to join a diverse, collaborative team.</p>
            <!-- begin open positions -->
            <p class="post-text"><b>Job Posting:</b> No positions currently available.</p>
            <!-- end open positions -->
        </div>
    </div>
</div>

<div class="v-buffer"><br></div>

<div class="flex-wraper-big">
    <div class="wholeblock withborder">
        <div class="block-header" id="perks">Perks and Benefits</div>
        <div class="flex-wrapper" style="background-color: var(--fedsim-offwhite);">
            <div class="perks-half">
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        {% asset icon-bulbs.png alt="Innovation" %}
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Innovation</h5>
                        <p class="perk-desc">Our agile team develops new processes and tools to streamline acquisitions for our clients.</p>
                    <br>
                </div>
                </div>
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        {% asset icon-talk.png alt="Collaborative Work Environment" %}
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Collaborative Work Environment</h5>
                        <p class="perk-desc">FEDSIM employees enjoy tackling new challenges working together to solve complex problems by providing expertise and creative solutions.</p>
                    <br>
                    </div>
                </div>
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        {% asset icon-clip.png alt="Strong Acquisition Governance" %}
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Strong Acquisition Governance</h5>
                        <p class="perk-desc">Our Quality Team creates organizational templates and processes while auditing our projects to maintain high acquisition standards across FEDSIM.</p>
                    </div>
                </div>
            </div>
            <div class="perks-half">
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        {% asset icon-award.png alt="Client and Mission Focused" %}
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Client and Mission Focused</h5>
                        <p class="perk-desc">We are client advocates—our primary focus is to help agencies achieve their critical missions.</p>
                        <br>
                    </div>
                </div>
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        {% asset icon-bulb.png alt="Learning Culture" %}
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Learning Culture</h5>
                        <p class="perk-desc">A robust onboarding program, and resources like FEDSIM University and brown bag lunches, keep FEDSIMers engaged and advancing.</p>
                    <br>
                    </div>
                </div>
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        {% asset icon-scale.png alt="Work Life Balance" %}
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Work Life Balance</h5>
                        <p class="perk-desc">Organized social activities, team building, and work-life flexibilities build a strong sense of community and keep FEDSIM employees engaged.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="v-buffer"><br></div>
 
<div class="flex-wraper-big">
    <div class="wholeblock">
        <div class="block-header" id="paths">Career Paths</div>
        <div class="infoblock with-side-buffer">
            <p>No matter how great your ambition, FEDSIM is here to support your career with two primary paths and four roles.</p>
        </div>
        <div class="flex-wrapper">
            <div class="flex-wrapper">
                <div class="careerpath-icon">{% asset AI_Image3.png alt="Contracting Officer" %}</div>
                <div class="careerpath-block">
                    <h5>CONTRACTING OFFICER (CO)</h5>
                    <p> The CO is responsible for ensuring performance of all necessary actions for effective and compliant contracting. 
                    The CO is the person with the sole authority to enter into, administer, and/or terminate contracts and make related determinations and findings.
                    </p>
                </div>
            </div> 
            <div class="flex-wrapper">
                <div class="careerpath-icon">{% asset AI_Image4.png alt="Contract Specialist" %}</div> 
                <div class="careerpath-block">
                    <h5>CONTRACT SPECIALIST (CS)</h5>
                    <p>The CS supports FEDSIM business through the preparation and administration of FEDSIM’s contractual actions. 
                    The CS issues solicitations, amendments, and modifications after sign-off from the Contracting Officer (CO) and any other approvals for the specific action. 
                    They ensure contracting actions are complete, accurate, and contractually compliant.</p>
                </div>
            </div>
        </div>
                
        <div class="flex-wrapper">
            <div class="flex-wrapper">
                <div class="careerpath-icon">{% asset AI_Image5.png alt="Acquisition Project Manager" %}</div>
                <div class="careerpath-block">
                    <h5>ACQUISITION PROJECT MANAGER (APM)</h5>
                    <p>The APM provides technical expertise in the development of pre-award materials such as the acquisition planning, 
                    pre-solicitation, and pre-award technical documentation. APMs will often work across all FEDSIM sectors.</p>
                </div>
            </div>
        
            <div class="flex-wrapper">
                <div class="careerpath-icon">{% asset AI_Image.png alt="Project Manager" %}</div>
                <div class="careerpath-block">
                    <h5>PROJECT MANAGER (PM)</h5>
                    <p>The PM acts as the liaison between the client and contractor, and is considered a trusted advisor. The primary responsibility of the PM is to lead the Integrated Project Team (IPT) by planning, organizing, and executing client projects in accordance with all applicable regulations, policies, and processes throughout the project life cycle.
                    </p> 
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
