<div class="flex-wrapper-big">
    <div class="infoblock with-side-buffer">
        <h1>Careers at FEDSIM</h1>
        <p>Our talented team helps federal clients achieve their missions every day. We provide a professional home for individuals who value diversity and inclusion and who are passionate about making a difference. 
            <br>
            Contact us at <a href="mailto:join.fedsim@gsa.gov">join.fedsim@gsa.gov</a>.</p>
    </div>
</div>
<div class="flex-wrapper-big submenubar">
    <div class="one-fourth section-btn">
        <a href="#jobs"><b>Open Positions</b></a>
    </div>
    <div class="bio-spacer"></div>
    <div class="one-fourth section-btn">
        <a href="#perks"><b>Perks and Benefits</b></a>
    </div>
    <div class="bio-spacer"></div>
    <div class="one-fourth section-btn">
        <a href="#paths"><b>Career Paths</b></a>
    </div>
</div>
<div class="v-buffer"><br></div>
<div class="flex-wraper-big">
    <div class="wholeblock withborder">
        <div class="block-header" id="jobs">Open Positions</div>
        <div class="infoblock">
            <!-- begin open positions -->
            <p>Are you looking for opportunities for growth? We’re always looking for creative, detail-oriented experts who want to join a diverse, collaborative team including:</p>
            <ul>
                <li>Project Managers: GS-7 -- GS-14</li>
                <li>Contract Specialists: GS-7 -- GS-13</li>
                <li>Contracting Officer: GS-14</li> 
                <li>Acquisition Project Managers: GS-12 -- GS-14</li>
            </ul>
            <p>To learn more about our opportunities contact us at <a href="mailto:join.fedsim@gsa.gov?subject=Opportunities">join.fedsim@gsa.gov</a>.
            </p>
            <p>Follow us on <a href="https://www.linkedin.com/company/assisted-acquisition-services">GSA AAS FEDSIM LinkedIn</a> to view USAJobs open announcements.</p>
            <!-- end open positions -->
        </div>
    </div>
</div>
<div class="v-buffer"><br></div>
<div class="flex-wraper-big">
    <div class="wholeblock withborder">
        <div class="block-header" id="perks">Perks and Benefits</div>
        <div class="flex-wrapper" style="background-color: var(--fedsim-offwhite);">
            <div class="perks-half">
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        <img src="../assets/img/icon-bulbs.png" alt="Innovation" />
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Innovation</h5>
                        <p class="perk-desc">Our agile team develops new processes and tools to streamline acquisitions for our clients.</p>
                    <br>
                </div>
                </div>
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        <img src="../assets/img/icon-talk.png" alt="Collaborative Work Environment" />
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Collaborative Work Environment</h5>
                        <p class="perk-desc">FEDSIM employees enjoy tackling new challenges working together to solve complex problems by providing expertise and creative solutions.</p>
                    <br>
                    </div>
                </div>
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        <img src="../assets/img/icon-clip.png" alt="Strong Acquisition Governance" />
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Strong Acquisition Governance</h5>
                        <p class="perk-desc">Our Quality Team creates organizational templates and processes while auditing our projects to maintain high acquisition standards across FEDSIM.</p>
                    </div>
                </div>
            </div>
            <div class="perks-half">
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        <img src="../assets/img/icon-award.png" alt="Mission-Focused Work" />
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Mission-Focused Work</h5>
                        <p class="perk-desc">We provide mission-critical support for government agencies by helping them acquire IT and professional services solutions.</p>
                        <br>
                    </div>
                </div>
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        <img src="../assets/img/icon-bulb.png" alt="Professional Devlopment" />
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Professional Development</h5>
                        <p class="perk-desc">A robust onboarding program, like FEDSIM University and communities of interest groups keep FEDSIMers advancing.</p>
                    <br>
                    </div>
                </div>
                <div class="flex-wrapper perkblock">
                    <div class="icon-cell">
                        <img src="../assets/img/icon-scale.png" alt="Engaged Community" />
                    </div>
                    <div class="perk-cell">
                        <h5 class="perk-title">Engaged Community</h5>
                        <p class="perk-desc">We build an inclusive environment by organizing social activities, team building, and work-life flexibilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="v-buffer"><br></div>
<div class="flex-wraper-big">
    <div class="wholeblock">
        <div class="block-header" id="paths">Career Paths</div>
        <div class="infoblock with-side-buffer">
            <p>No matter how great your ambition, FEDSIM is here to support your career with two primary paths and four roles.</p>
        </div>
        <div class="flex-wrapper">
            <div class="flex-wrapper">
                <div class="careerpath-icon"><img src="../assets/img/AI_Image3.png" alt="Contracting Officer" /></div>
                <div class="careerpath-block">
                    <h5>CONTRACTING OFFICER (CO)</h5>
                    <p> The CO is responsible for ensuring performance of all necessary actions for effective and compliant contracting. 
                    The CO is the person with the sole authority to enter into, administer, and/or terminate contracts and make related determinations and findings.
                    </p>
                </div>
            </div> 
            <div class="flex-wrapper">
                <div class="careerpath-icon"><img src="../assets/img/AI_Image4.png" alt="Contract Specialist" /></div> 
                <div class="careerpath-block">
                    <h5>CONTRACT SPECIALIST (CS)</h5>
                    <p>The CS supports FEDSIM business through the preparation and administration of FEDSIM’s contractual actions. 
                    The CS issues solicitations, amendments, and modifications after sign-off from the Contracting Officer (CO) and any other approvals for the specific action. 
                    They ensure contracting actions are complete, accurate, and contractually compliant.</p>
                </div>
            </div>
        </div>  
        <div class="flex-wrapper">
            <div class="flex-wrapper">
                <div class="careerpath-icon"><img src="../assets/img/AI_Image5.png" alt="Acquisition Project Manager" /></div>
                <div class="careerpath-block">
                    <h5>ACQUISITION PROJECT MANAGER (APM)</h5>
                    <p>The APM provides technical expertise in the development of pre-award materials such as the acquisition planning, 
                    pre-solicitation, and pre-award technical documentation. APMs will often work across all FEDSIM sectors.</p>
                </div>
            </div>
            <div class="flex-wrapper">
                <div class="careerpath-icon"><img src="../assets/img/AI_Image.png" alt="Project Manager" /></div>
                <div class="careerpath-block">
                    <h5>PROJECT MANAGER (PM)</h5>
                    <p>The PM acts as the liaison between the client and contractor, and is considered a trusted advisor. The primary responsibility of the PM is to lead the Integrated Project Team (IPT) by planning, organizing, and executing client projects in accordance with all applicable regulations, policies, and processes throughout the project life cycle.
                    </p> 
                    <br>
                </div>
            </div>
        </div>
        <div class="flex-wrapper">
            <div class="flex-wrapper">
                <div class="careerpath-icon"><img src="../assets/img/AI_Image6.png" alt="Property Admins" /></div>
                <div class="careerpath-block">
                    <h5>PROPERTY ADMINISTRATOR (PA)</h5>
                    <p>The Property Administrator is responsible for the accountability of Government Furnished Property (GFP). This includes the management, administration, and monitoring of GFP in possession of contractors including physical inventory as requested by the client.</p>
                </div>
            </div>
            <div class="flex-wrapper">
                <div class="careerpath-icon"><img src="../assets/img/AI_Image7.png" alt="TPOC" /></div>
                <div class="careerpath-block">
                    <h5>TECHNICAL POINT OF CONTACT (TPOC)</h5>
                    <p>The TPOC provides technical expertise in the post-award monitoring and evaluation of contractor performance. TPOCs will be utilized in FEDSIM multi-tenant or enterprise task orders and work directly with client stakeholders.
                        </p> 
                </div>
            </div>
        </div>
    </div>
</div>
