<div class="flex-wrapper-big">
    <div class="infoblock with-side-buffer">
        <h2>Client Toolkit Media</h2>
        <p>FEDSIM Acquisitions are managed by an Integrated Project Team (IPT) to ensure that the acquisition runs smoothly, meets the clients' requirements, and conforms to all Federal acquisition regulations and policies.</p>
    </div>
</div>

<div class="infoblock with-side-buffer">
<h3>FEDSIM Due Diligence for Government Clients</h3>
    <iframe width="400" height="225" src="https://www.youtube.com/embed/OsmQ4mhzj1M" frameborder="0" aria-label="FEDSIM Due Diligence for Government Clients"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="media-line"/>

<h3>FEDSIM Client Expectations for Cost Plus Award Fee Contracts</h3>
    <iframe width="400" height="225" src="https://www.youtube.com/embed/0BOKLbK-LuE" frameborder="0" aria-label="FEDSIM Client Expectations for Cost Plus Award Fee Contracts"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr class="media-line"/>

<h3>FEDSIM Introduction to the TEB</h3>
    <iframe width="400" height="225" src="https://www.youtube.com/embed/MpYputaJduE" frameborder="0" aria-label="FEDSIM Introduction to the TEB"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr class="media-line"/>

</div>

<!--  BLOG -->

<!-- 
    <div class="flex-wrapper-big">
    <div class="infoblock">
        <hr class="highlight-line">

        <h2>FEDSIM Blog</h2>
        <p>Find our best practices and lessons learned from the work we do to serve our clients.</p>
        <h5 style="color: var(--fedsim-purple); font-weight: 600;">Coming soon...</h5>
    </div>
</div>
-->
