<!-- first row -->
<div class="flex-wrapper-big">
    <div class="infoblock">
    <h1>Our Work</h1>
    <p>FEDSIM serves all federal agencies. Our acquisition, financial, and project management experts develop creative solutions to ensure quality and compliance throughout the lifecycle of each acquisition. 
    </p>
    <p>We provide acquisition support to clients purchasing IT, professional services, and virtually all services supporting manned, unmanned, or optionally manned platforms and robotics.
    </p>
    <p>Mouse over the project images to learn more about our diverse portfolio.</p>
    </div>
</div>

<div class="flex-wrapper-big">
    <!-- project 1 -->
    <div class="problock-container color-back-blue1">
        <h5 class="blocktitle" tabindex="1">United States Air Force <br>Cyber</h5>
        <div class="problock proj-1">
            <div class="problock problock-inner stack-top"  tabindex="2">
                IST Pulse Platform
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="3">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue" style="font-size: 1.4em; padding: 10px 0 4px 0;">$497K</div>
                        <div class="mil-bil-text">CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project 2 -->
    <div class="problock-container color-back-purple">
        <h5 class="blocktitle" tabindex="4">United States Military Entrance Processing Command <br>(USMEPCOM)</h5>
        <div class="problock proj-2">
            <div class="problock problock-inner stack-top"  tabindex="5">
                Information Technology Enterprise Solution (MITES)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="6">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue" style="font-size: 1.3em !important;">$220<span class="mil-bil-text">(SB)</span></div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- project 3 -->
    <div class="problock-container color-back-pink">
        <h5 class="blocktitle" tabindex="7">Department of Defense (DoD)</h5>
        <div class="problock proj-3">
            <div class="problock problock-inner stack-top"  tabindex="8">
                Military and Family Life Counseling (MFLC) Program - West
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="9">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$2</div>
                        <div class="mil-bil-text">BILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project 4 -->
    <div class="problock-container color-back-purple">
        <h5 class="blocktitle" tabindex="10">Naval Air Warfare Center Aircraft Division (NAWCAD)<br>
            Webster Outlying Field (WOLF) Ship and Air Integrated Warfare (SAIW) Division</h5>
        <div class="problock proj-4">
            <div class="problock problock-inner stack-top"  tabindex="11">
                Ship and Air Command, Control, Communication, Computers, Combat ISR (C5ISR)<br>
                Systems Support (SACSS)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="12">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$731</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="v-buffer no-mobile"></div>
<!-- second row -->
<div class="flex-wrapper-big">

    <!-- project 5 -->
    <div class="problock-container color-back-blue1">
        <h5 class="blocktitle" tabindex="13">United States (U.S.) Drug Enforcement Administration (DEA)</h5>
        <div class="problock proj-5">
            <div class="problock problock-inner stack-top"  tabindex="14">
                Information Technology (IT)<br>
                Infrastructure Modernization (Bluestone)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="15">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$876</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project 6 -->
    <div class="problock-container color-back-grey">
        <h5 class="blocktitle" tabindex="16">United States Southern Command <br>(USSOUTHCOM)</h5>
        <div class="problock proj-6">
            <div class="problock problock-inner stack-top"  tabindex="17">
                Monitoring, Analysis, Reconnaissance, Logistics, Intelligence, and Network Services (MARLINS)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="18">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$986</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- project 7 -->
    <div class="problock-container color-back-gold">
        <h5 class="blocktitle" tabindex="19"><br class="no-mobile">Department of Defense <br>(DoD)</h5>
        <div class="problock proj-7">
            <div class="problock problock-inner stack-top"  tabindex="20">
                CTI Maestro SBIR III
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="21">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$188</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project 8 -->
    <div class="problock-container color-back-grey">
        <h5 class="blocktitle" tabindex="22"><br>United States Air Force</h5>
        <div class="problock proj-8">
            <div class="problock problock-inner stack-top"  tabindex="23">
                Hyper Innovative Operational Prototype Engineering (HOPE)
                <div class="projectvalueblock">
                    <div class="valuetext"  tabindex="24">
                        <p>Value:</p>
                    </div>
                    <div class="millionblock">
                        <div class="projectvalue">$539</div>
                        <div class="mil-bil-text">MILLION CEILING</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br>
