@font-face {
	font-family: 'code light';
	src: url('code_light-webfont.eot');
	src: url('code_light-webfont.eot?#iefix') format('embedded-opentype'),
		url('code_light-webfont.woff') format('woff'),
		url('code_light-webfont.svg') format('svg');
}